.App {
  text-align: center;
}

.add{
  display :flex;
  flex-direction: column;
  width: 75%;
  padding-left: 350px;
  gap: 8px;
  justify-content: center;
}
.add > input{
  max-width: 75%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
}

.addButton {
  width: fit-content;
  padding: 8px 45px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #1b4eac;
  cursor: pointer;
  color: white;
}


.navbar {
  background-color: #80b4ad;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  background-color: #128084;
  border: 1px solid #d91815;
  border-radius: 5px;
  margin: 0 5px;
}

.nav-link:hover {
  background-color: #244e8e;
}

.not-found-container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #666;
}
